[Match]
Name=en<...>

# For DHCP/SLAAC
[Network]
# DHCPv4
DHCP=ipv4
# IPv6 SLAAC, will enable DHCPv6 if necessary
IPv6AcceptRA=yes

# For static IP addresses
#[Network]
## No DHCPv4 or DHCPv6
#DHCP=no
## No SLAAC or DHCPv6
#IPv6AcceptRA=no
#Address=192.168.0.10/24
#Gateway=192.168.0.1
#DNS=192.168.0.1
#Address=fd00::a/64
#Gateway=fd00::1
#DNS=fd00::1
